@model IEnumerable<Modelo.Cadastros.Instituicao>

@{
    Layout = "_LayoutIES";
}

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<div class="container">
    <nav class="navbar navbar-transparent bg-transparent">
        <div class="container-fluid">
            <h5>Instituições registradas</h5>
            <span class="login">
                <a asp-action="Create" class="btn botaoLogin">Registrar nova instituição</a>
            </span>
        </div>
    </nav>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-6">
                <table id="tabela_instituicoes">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.InstituicaoID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Endereco)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InstituicaoID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Endereco)
                                </td>
                                <td>
                                    <input type="button" class="btn botaoLogin"@* data-instituicao-id="@item.InstituicaoID"*@ value="Detalhes" onclick="detalhesInstituicao(@(item.InstituicaoID))" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>     
            </div>
            <div class="col-6">
                <div id="containerDetalhes">
                    ...
                </div>
            </div>
    </div>
</div>
</div>

@section ScriptPage {
    <script type="text/javascript">
        //$(".submitDetalhes").click(function () {
        //    var instituicaoid = $(this).data("instituicao-id");
        function detalhesInstituicao(instituicaoId) {
            console.log("Clicou em: " + instituicaoId);
            $.ajax({
                url: '@Url.Action("Detalhes", "Instituicao")',
                type: "POST",
                data: { "id": instituicaoId },
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log('sucesso:');
                    console.log(data);
                    $("#containerDetalhes").html(data);
                },
                error: function (request, status, error) {
                    console.log('error:');
                    console.log(status);
                    console.log(error);
                },
            });
        }
    </script>
}