@model IEnumerable<Modelo.Cadastros.Instituicao>

@{
    Layout = "_LayoutIES";
}

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<div class="container">
    <nav class="navbar navbar-transparent bg-transparent">
        <div class="container-fluid">
            <h5>Instituições registradas</h5>
            <span class="login">
                <a asp-action="Create" class="btn botaoLogin">Registrar nova instituição</a>
            </span>
        </div>
    </nav>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-6">
                <table id="tabela_instituicoes">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.InstituicaoID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Endereco)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InstituicaoID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Endereco)
                                </td>
                                <td>
                                    @*<form>
                                        <input type="hidden" asp-for="@item.InstituicaoID" />
                                        <input type="submit" id="submitDetalhes" class="btn botaoLogin" value="Detalhes" />
                                    </form>*@
                                    <input type="button" class="btn botaoLogin" @*data-instituicao-id="@item.InstituicaoID"*@ value="Detalhes" onclick="detalhesInstituicao(@(item.InstituicaoID))" />

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>     
            </div>
            <div class="col-6">
                <div id="containerDetalhes">
                    ...
                </div>
            </div>
    </div>
</div>
</div>