@model IEnumerable<Modelo.Discente.Academico>
@{
    Layout = "_LayoutIES";
}

@await Html.PartialAsync("_StylePartial")


@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<div class="container">
    <nav class="navbar navbar-transparent bg-transparent">
        <div class="container-fluid">
            <h5>Departamentos registrados</h5>
            <span class="login">
                <a asp-action="Create" class="btn botaoLogin">Registrar novo acadêmico</a>
            </span>
        </div>
    </nav>
    <br />
    <div class="container">
        <div class="row">
            <table id="tabela_academicos">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AcademicoID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RegistroAcademico)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nascimento)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AcademicoID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RegistroAcademico)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nascimento)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.AcademicoID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.AcademicoID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.AcademicoID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ScriptsPartial")
@await Html.PartialAsync("_ValidationScriptsPartial")

@section ScriptPage {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabela_academicos').DataTable({
                "order": [[1, "asc"]]
            });
        });
    </script>
}