@model IEnumerable<Modelo.Cadastros.Departamento>

@{
    Layout = "_LayoutIES";
}

@await Html.PartialAsync("_StylePartial")
  

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<div class="container">
    <nav class="navbar navbar-transparent bg-transparent">
        <div class="container-fluid">
            <h5>Departamentos registrados</h5>
            <span class="login">
                <a asp-action="Create" class="btn botaoLogin">Registrar novo departamento</a>
            </span>
        </div>
    </nav>
    <br />
    <div class="container">
        <div class="row">
            <table id="tabela_departamentos">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>

                            @Html.DisplayNameFor(model => model.Instituicao.Nome)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Instituicao.Nome)
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-4">
                                        <a asp-action="Edit" asp-route-id="@item.DepartamentoID" class="btn botaoLogin">Editar</a>
                                    </div>
                                    <div class="col-4">
                                        <a asp-action="Details" asp-route-id="@item.DepartamentoID" class="btn botaoLogin">Detalhes</a>
                                    </div>
                                    <div class="col-4">
                                        <a asp-action="Delete" asp-route-id="@item.DepartamentoID" class="btn botaoLogin">Deletar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ScriptsPartial")
@await Html.PartialAsync("_ValidationScriptsPartial")

@section ScriptPage {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabela_departamentos').DataTable({
                "order": [[1, "asc"]]
            });
        });
    </script>
}

